.inputs {
  border: 1px solid gray;
  /* min-height: 370px; */
  height: auto;
  width: 470px;
  padding: 10px 20px;
  
}

.forms {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.google, .facebook {
 /*  border: 1px solid black;
  margin-bottom: 5px;
  border-radius: 30px;
  padding: 5px 0px;
  cursor: pointer; */
  
background: #FFFFFF;
border: 1px solid #C7C7C7;
box-sizing: border-box;
border-radius: 57px;
padding: 5px 0px;
width: 457px;
cursor: pointer;
margin-bottom: 5px;
}
.icon img {
  width: 30px;
  padding: 0px;
}

.submit {
  background-image: linear-gradient(to bottom, #275a53 0%, #275a53 100%);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 25px;
  cursor: pointer;
  margin: 0px 15px;
}

.text-login-create {
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}
