.banner{
  background-image: url('../../../image/images/Rectangle\ 409.png');
   /* height: 100%; */
   height: 554px;
  width: 100%;
  position: relative;

left: 0px;
top: 0px;
padding-bottom: 100px;
}
.banner-rent{
font-family: Montserrat;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 59px;
letter-spacing: 0em;
text-align: center;
color: #FFFFFF;
}